<div class="card margintop50">
  <div class="card-header">
    Dealer Signup
  </div>
  <div class="card-body">
    <div class="wizard-container">
      <aw-wizard>
        <aw-wizard-step stepTitle="Basic Information">
          <form class="margintop30">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">First Name</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="First Name">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Last Name</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Last Name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Contact No</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Contact No">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Email</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Email">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Profile Picture</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                  </div>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">Date of Birth</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Date of Birth">
              </div>
            </div>
            <div class="btn-container float-right">
              <button class="btn btn-success" type="button" awNextStep>Next Step</button>
            </div>
          </form>

        </aw-wizard-step>
        <aw-wizard-step stepTitle="Dealer Detail">
          <form class="margintop30">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Address</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Address">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">City</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="City">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Country</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Country">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Post Code</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Post Cod">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Iqama/NIC/Passport No</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Iqama/NIC/Passport No">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">Iqama/NIC/Passport Copy Upload</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                  </div>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">CR Number</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="CR Number">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">CR Copy</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                  </div>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-container float-right">
              <button class="btn btn-secondary dark-grey" type="button" awPreviousStep>Go to previous step</button>
              <button class="btn btn-success" type="button" awNextStep>Go to next step</button>
            </div>
          </form>

        </aw-wizard-step>
        <aw-wizard-step stepTitle="Contract Details">
          <form class="margintop30">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Compensation Clearence Duration</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Compensation Clearence Duration">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Pre Shipments Compensation</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Pre Shipment Compensation">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Contract Starting</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Contract Starting">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Contract Valid Till</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Contract Valid Till">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Upload Contract</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                  </div>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">Bank</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Bank">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">IBAN</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="IBAN">
              </div>
            </div>
            <div class="btn-container float-right">
              <button class="btn btn-secondary dark-grey" type="button" awPreviousStep>Go to previous step</button>
              <button class="btn btn-success" type="button" awNextStep>Go to next step</button>
            </div>
          </form>

        </aw-wizard-step>
        <aw-wizard-step stepTitle="Credentials">
          <form class="margintop30">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">User ID</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="User ID">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">User Name</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="User Name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Password</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Password">
              </div>
            </div>
            <div class="btn-container float-right">
              <button class="btn btn-secondary dark-grey" type="button" awPreviousStep>Previous Step</button>
              <button class="btn btn-success" type="button" (click)="finishFunction()">Finish</button>
            </div>
          </form>

        </aw-wizard-step>
      </aw-wizard>
    </div>
  </div>
</div>
