<div class="card margintop50">
  <div class="card-header">
    Driver Signup
  </div>
  <div class="card-body">
    <div class="wizard-container">
      <aw-wizard>
        <aw-wizard-step stepTitle="Basic Information">
          <form class="margintop30">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">First Name</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="First Name">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Last Name</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Last Name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Contact No</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Contact No">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Email</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Email">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Profile Picture</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                  </div>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">Date Of Birth</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Date Of Birth">
              </div>
            </div>
            <div class="btn-container float-right">
              <button class="btn btn-success" type="button" awNextStep>Next Step</button>
            </div>
          </form>

        </aw-wizard-step>
        <aw-wizard-step stepTitle="Driver Detail">
          <form class="margintop30">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Employ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Freelancer</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Address </label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Address">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">City</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="City">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Country</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Country">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Post Code</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Post Code">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Iqama/NIC/Passport No</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Iqama/NIC/Passport No">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Iqama/NIC/Passport Copy Upload</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                      </div>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Driver Licence No</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Driver Licence No">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Licence Copy Upload</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                      </div>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Address </label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Address">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">City</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="City">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Country</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Country">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Post Code</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Post Code">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Iqama/NIC/Passport No</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Iqama/NIC/Passport No">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Iqama/NIC/Passport Copy Upload</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                      </div>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Driver Licence No</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Driver Licence No">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Licence Copy Upload</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                      </div>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-container float-right margintop30">
              <button class="btn btn-secondary dark-grey" type="button" awPreviousStep>Go to previous step</button>
              <button class="btn btn-success" type="button" awNextStep>Go to next step</button>
            </div>
          </form>
        </aw-wizard-step>
        <aw-wizard-step stepTitle="Vehicle Detail">
          <form class="margintop30">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Vehicle Name</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Vehicle Name">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Vehicle Model</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Vehicle Model">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Vehicle Maker</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Vehicle Maker">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Vehicle Type</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Vehicle Type">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Vehicle Cargo Capicity</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Vehicle Cargo Capicity">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Vehicle Reg No</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Vehicle Reg No">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Vehicle Registration Copy</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Vehicle Registration Copy">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">Production Year</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Production Year">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Registration Year</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Registration Year">
              </div>
            </div>
            <div class="btn-container float-right">
              <button class="btn btn-secondary dark-grey" type="button" awPreviousStep>Go to previous step</button>
              <button class="btn btn-success" type="button" awNextStep>Go to next step</button>
            </div>
          </form>

        </aw-wizard-step>
        <aw-wizard-step stepTitle="Employ/Freelancer Detail">
          <form class="margintop30">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Compensation Cycle</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Compensation Cycle">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Compensation</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Compensation">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Contract Starting</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Contract Starting">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Contract Valid Till</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Contract Valid Till">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Upload Contract</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                  </div>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Bank</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Bank">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">IBAN</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="IBAN">
              </div>
            </div>
            <div class="btn-container float-right">
              <button class="btn btn-secondary dark-grey" type="button" awPreviousStep>Go to previous step</button>
              <button class="btn btn-success" type="button" awNextStep>Go to next step</button>
            </div>
          </form>

        </aw-wizard-step>
        <aw-wizard-step stepTitle="Credentials">
          <form class="margintop30">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">User ID</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="User ID">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">User Name</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="User Name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Password</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Password">
              </div>
            </div>
            <div class="btn-container float-right">
              <button class="btn btn-secondary dark-grey" type="button" awPreviousStep>Previous Step</button>
              <button class="btn btn-success" type="button" (click)="finishFunction()">Finish</button>
            </div>
          </form>

        </aw-wizard-step>
      </aw-wizard>
    </div>
  </div>
</div>
