<div class="row mt-4">
  <div class="col-12">
      <div class="card card-accent-primary">
        <div class="card-header">
          All Orders
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead class="table-header">
              <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Dte/Time</th>
                <th scope="col">Order Type</th>
                <th scope="col">Classification</th>
                <th scope="col">Shipper</th>
                <th scope="col">Status</th>
                <th scope="col">Pick up Tarrif</th>
              </tr>
            </thead>
            <tbody>
              <tr (click)="viewOrder('3242234')">
                <td>3242234</td>
                <td>1/1/2010</td>
                <td>Pick up by Sarokh</td>
                <td>Single</td>
                <td>ABC</td>
                <td>Active</td>
                <td>SR,3200</td>
              </tr>
              <tr>
                <td>3242234</td>
                <td>1/1/2010</td>
                <td>Pick up by Sarokh</td>
                <td>Single</td>
                <td>ABC</td>
                <td>Active</td>
                <td>SR,3200</td>
              </tr>
              <tr>
                <td>3242234</td>
                <td>1/1/2010</td>
                <td>Pick up by Sarokh</td>
                <td>Single</td>
                <td>ABC</td>
                <td>Active</td>
                <td>SR,3200</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
