<div class="row mt-4">
  <div class="col-12">
    <div class="card card-accent-primary">
      <div class="card-header">
        Bulk Orders Update
      </div>
      <div class="card-body">
        <table #dataTable style="width:100%" class="display nowrap dataTable dtr-inline collapsed">
          <thead>
            <tr>
              <th scope="col">Order ID</th>
              <th scope="col">Date/Time</th>
              <th scope="col">Order Type</th>
              <th scope="col">Classification</th>
              <th scope="col">Shipper</th>
              <th scope="col">Status</th>
              <th scope="col">Outbound Time</th>
              <th scope="col">Location</th>
              <th scope="col">Reciever</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td>{{order.id}}</td>
              <td>{{order.createdDatetime}}</td>
              <td>{{order.orderType}}</td>
              <td>{{order.shipmentClassification}}</td>
              <td>{{order.shipperId}}</td>
              <td>{{order.status}}</td>
              <td>{{order.transitTime}}</td>
              <td>{{order.shipperWarehouseId}}</td>
              <td>{{order.receiverName}}</td>
            </tr>
          </tbody>
        </table>
        <div class="card-header">
          Dealer Signup
        </div>
        <div class="card-body">
          <div class="wizard-container">
            <aw-wizard>
              <aw-wizard-step stepTitle="Basic Information">
                <form class="margintop30">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="orderId">Order Id</label>
                      <input type="text" class="form-control" id="orderId" placeholder="Order Id">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="shipperId">Shipper Id</label>
                      <input type="text" class="form-control" id="shipperId" placeholder="Shipper Id">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="pickupType">Pickup Type</label>
                      <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="shipmentType">Shipment Type</label>
                      <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                  </div>
                  <div class="btn-container float-right">
                    <button class="btn btn-success" type="button" awNextStep>Next Step</button>
                  </div>
                </form>

              </aw-wizard-step>
              <aw-wizard-step stepTitle="Pick Up/Drop off Type Details">
                <form class="margintop30">
                  <!--Pickup Detail-->
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Warehouse</label>
                      <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Time</label>
                      <input type="text" class="form-control" id="time" placeholder="Time">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="date">Date</label>
                      <input type="text" class="form-control" id="date" placeholder="date">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="concernPerson">Concern Person</label>
                      <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="concernPerson">Concern Person</label>
                      <input type="text" class="form-control" id="concernPerson" placeholder="Concern Person">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="pickupAddress">Pickup Address</label>
                      <input type="text" class="form-control" id="pickupAddress" placeholder="Pickup Address">
                    </div>
                  </div>
                  <br>
                  <br>
                  <!--Dealer Dropoff Detail-->

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="city">City</label>
                      <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="zone">Zone</label>
                      <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="point">Point</label>
                      <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="time">Time</label>
                      <input type="text" class="form-control" id="time" placeholder="Time">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="date">Date</label>
                      <input type="text" class="form-control" id="date" placeholder="Date">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="deliveryPersonname">Delivery Person Name</label>
                      <input type="text" class="form-control" id="deliveryPersonname" placeholder="Delivery Person Name">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="contactNo">Contact No</label>
                      <input type="text" class="form-control" id="contactNo" placeholder="Contact No">
                    </div>
                  </div>
                  <br>
                  <br>

                  <!--Sarolkh Warehouse Delivery Detail-->
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="city">City</label>
                      <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="zone">Zone</label>
                      <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="point">Sarokh Warehouse</label>
                      <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="time">Time</label>
                      <input type="text" class="form-control" id="time" placeholder="Time">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="date">Date</label>
                      <input type="text" class="form-control" id="date" placeholder="Date">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="deliveryPersonname">Delivery Person Name</label>
                      <input type="text" class="form-control" id="deliveryPersonname" placeholder="Delivery Person Name">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="contactNo">Contact No</label>
                      <input type="text" class="form-control" id="contactNo" placeholder="Contact No">
                    </div>
                  </div>

                  <div class="btn-container float-right">
                    <button class="btn btn-secondary dark-grey" type="button" awPreviousStep>Go to previous step</button>
                    <button class="btn btn-success" type="button" awNextStep>Go to next step</button>
                  </div>
                </form>

              </aw-wizard-step>
              <aw-wizard-step stepTitle="Receiver Details">
                <form class="margintop30">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="receiverName">Receiver Name</label>
                      <input type="text" class="form-control" id="receiverName" placeholder="Receiver Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="receiverEmail">Receiver Email</label>
                      <input type="text" class="form-control" id="receiverEmail" placeholder="Receiver Email">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="receiverContactno">Receiver Contact No</label>
                      <input type="text" class="form-control" id="receiverContactno" placeholder="Receiver Contact No">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="address">Address</label>
                      <input type="text" class="form-control" id="address" placeholder="Address">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="city">City</label>
                      <input type="text" class="form-control" id="city" placeholder="City">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="country">Country</label>
                      <input type="text" class="form-control" id="country" placeholder="Country">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="Postcode">Post Code</label>
                      <input type="text" class="form-control" id="Postcode" placeholder="Post Code">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="longitude">Longitude</label>
                      <input type="text" class="form-control" id="longitude" placeholder="Longitude">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="latitude">Latitude</label>
                      <input type="text" class="form-control" id="latitude" placeholder="Latitude">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="dueDeliverydate">Due Delivery Date</label>
                      <input type="text" class="form-control" id="dueDeliverydate" placeholder="Due Delivery Date">
                    </div>
                  </div>

                  <div class="btn-container float-right">
                    <button class="btn btn-secondary dark-grey" type="button" awPreviousStep>Go to previous step</button>
                    <button class="btn btn-success" type="button" awNextStep>Go to next step</button>
                  </div>
                </form>


              </aw-wizard-step>
              <aw-wizard-step stepTitle="Shipment Detail">
                <form class="margintop30">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Payment Mode</label>
                      <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="shipmentID">Shipment ID</label>
                      <input type="text" class="form-control" id="shipmentID" placeholder="Shipment ID">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="shipmentName">Shipment Name</label>
                      <input type="text" class="form-control" id="shipmentName" placeholder="Shipment Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="content">Content</label>
                      <input type="text" class="form-control" id="content" placeholder="Content">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="value">Value</label>
                      <input type="text" class="form-control" id="value" placeholder="Value">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="deliveryCharges">Delivery Charges</label>
                      <input type="text" class="form-control" id="deliveryCharges" placeholder="Delivery Charges">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="shipmentName">Receiver Billed Amount: (If COD)</label>
                      <input type="text" class="form-control" id="shipmentName" placeholder="Shipment Name">
                    </div>
                  </div>
                  <div class="btn-container float-right">
                    <button class="btn btn-secondary dark-grey" type="button" awPreviousStep>Previous Step</button>
                    <button class="btn btn-success" type="button" (click)="finishFunction()">Finish</button>
                  </div>
                </form>

              </aw-wizard-step>
            </aw-wizard>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>